<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form  method="post">
    <label for="username">Введите Имя</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Введите Имя">
    <label for="description">Введите Пароль</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Введите Пароль">
    <label for="rating">rating</label>
    <input type="text" th:field="*{rating}" id="rating" placeholder="rating">
    <input type="submit" value="Create User">
</form>
</body>
</html>>